.box {
	margin: 4rem auto;
	margin-bottom: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&:hover .icon {
		background-color: var(--hover-color);
	}
	p {
		text-align: left;
		position: relative;
		font-size: 1.8rem;
		&::before {
			position: absolute;
			content: '';
			width: 15px;
			height: 2px;
			bottom: calc(50% - 2px);
			left: -20px;
			background-color: var(--main-color-darkest);
		}
	}
}

.heading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h3 {
		margin: 0.5em 0;
		font-size: 2rem;
	}
}
.icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: var(--main-color-darkest);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s;
	svg {
		font-size: 4rem;
		color: #fff;
	}
}
