@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding-top: 10vh;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Lato', sans-serif;
}
:root {
	--main-color: #a3cf44;
	--main-color-darker: #8db832;
}
section {
	overflow-x: hidden;
	padding: 3rem 0;
	text-align: center;
}
a {
	text-decoration: none;
}
