.title {
	position: relative;
	display: inline-block;
	color: var(--main-color-darkest);
	font-size: 4rem;
	&::before {
		position: absolute;
		bottom: -3px;
		left: 0;
		content: '';
		width: 30%;
		height: 2px;
		background-color: var(--main-color-darkest);
	}
}

.white {
	color: #fff;
	&::before {
		background-color: #fff;
	}
}
@media (min-width: 992px) {
	.title {
		font-size: 5rem;
	}
}
