.error {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 2rem;
	h1 {
		font-size: 2rem;
	}
	p {
		font-size: 2rem;
	}
	a {
		margin-top: 3rem;
		background-color: var(--main-color-darker);
		color: #fff;
		padding: 1em 2em;
		border-radius: 15px;
		transition: background-color 0.3s;
		font-size: 2rem;
		&:hover {
			background-color: var(--main-color-darkest);
		}
	}
}

@media (min-width: 400px) {
	.error {
		h1 {
			font-size: 3rem;
		}
		p {
			margin-top: 2rem;
			font-size: 3em;
		}
	}
}
@media (min-width: 992px) {
	.error {
		h1 {
			font-size: 5rem;
		}
		p {
			font-size: 4m;
		}
		a {
			margin-top: 7rem;
		}
	}
}
