.nav {
	position: fixed;
	width: 100%;
	background-color: var(--main-color-nav);
	height: 9vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 100;
}

.logo {
	width: 200px;
	img {
		width: 100%;
	}
}
.burger {
	display: none;
}

.divider {
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	svg {
		position: relative;
		display: block;
		width: calc(133% + 1.3px);
		height: 32px;
	}
}

.shapeFill {
	fill: var(--main-color-nav);
}

@media (max-width: 768px) {
	.burger {
		display: block;
	}
}
